<div class="form-group row">
  <div class="col-md-8">
    <%= render "layouts/messages"%>
    <% if @stock %>
      <div class="alert-secondary">
        <strong>Symbol: </strong><text> <%= @stock.ticker %></text>
        <strong>Name: </strong><text> <%= @stock.name %></text>
        <strong>Price: </strong><text> <%= @stock.last_price %></text> 
        <% if current_user.can_track_stock?(@stock.ticker) %>   
        <div class="text-sm-right">
          <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), class: 'btn btn-success', method: :post%>
        </div>
        <% else %>
          <span class= "badge badge-secondary">
            You are already tracking
            <% if !current_user.under_stock_limit? %>
              10 stocks
            <% end %>
            <% if current_user.stock_already_tracked?(@stock.ticker) %>
              this stock
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
